* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #01ffff
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/big-ben.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    padding: 20px;
}

/* CARD */
.cards__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}



.cards__item {
    perspective: 1000px;
    cursor: pointer;
}

.cards__inner {
    position: relative;
    width: 100%;
    height: 320px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.cards__item--flipped .cards__inner {
    transform: rotateY(180deg);
}

.cards__front,
.cards__back {
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 20px;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards__front {
    background-color: rgba(245, 241, 241, 0.3);
    border-radius: 10px;
    border: 2px solid #01ffff;
}

.cards__back {
    background-color: #fffae6;
    transform: rotateY(180deg);
}

.cards__title {
    font-size: 24px;
    margin-bottom: 16px;
}

.cards__image {
    width: 120px;
    height: auto;
}

.cards__translation {
    font-size: 28px;
    font-weight: bold;
}

.cards__transcription {
    font-size: 18px;
    opacity: 0.7;
}

/* SPEAKER BUTTON */
.cards__sound {
    margin-top: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}